/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");
/* Headings */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Tight", sans-serif;
}

/* Body */
p {
  font-family: "Source Sans 3", sans-serif;
}

/* Global Variables */
body {
  font-family: "Arial", sans-serif;
  background-color: var(--floral-white);
  color: var(--graphite);
  margin: 0;
  padding: 0;
}

.card {
  background-color: var(--floral-white);
  border: 1px solid var(--graphite);
  border-radius: 8px;
  padding: 16px;
  margin: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Colour Pallet */
:root {
  --dark-cyan: #6b9797ff;
  --floral-white: #f8f4e8ff;
  --cherry-blossom: #ffb6c1ff;
  --graphite: #333333ff;
  --palm-leaf: #8a9a5bff;
}
