/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap");

/* Bootstrap Grid Outlines for debugging */
/* .container {
  border: 1px solid #dc3545;
}
.row {
  border: 1px solid #28a745;
}
.col,
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 .col-sm,
.col-sm-1,
.col-sm-2,
.col-sm-3,
.col-sm-4,
.col-sm-5,
.col-sm-6,
.col-sm-7,
.col-sm-8,
.col-sm-9,
.col-sm-10,
.col-sm-11,
.col-sm-12 .col-md,
.col-md-1,
.col-md-2,
.col-md-3,
.col-md-4,
.col-md-5,
.col-md-6,
.col-md-7,
.col-md-8,
.col-md-9,
.col-md-10,
.col-md-11,
.col-md-12 .col-lg,
.col-lg-1,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9,
.col-lg-10,
.col-lg-11,
.col-lg-12 .col-xl,
.col-xl-1,
.col-xl-2,
.col-xl-3,
.col-xl-4,
.col-xl-5,
.col-xl-6,
.col-xl-7,
.col-xl-8,
.col-xl-9,
.col-xl-10,
.col-xl-11,
.col-xl-12 {
  border: 1px solid #007bff;
} */

/* Colour Pallet */
:root {
  --dark-cyan: #6b9797ff;
  --floral-white: #f8f4e8ff;
  --cherry-blossom: #ffb6c1ff;
  --graphite: #333333ff;
  --palm-leaf: #8a9a5bff;
  --background-gradient: linear-gradient(135deg, #f8f4e8ff, #8a9a5bff);
}

/* Global Variables */
/* Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Inter Tight", sans-serif;
  color: var(--graphite);
}

/* Body */

body {
  font-family: "Source Sans 3", sans-serif;
  background-color: var(--floral-white);
  color: var(--graphite);
  margin: 0;
  padding: 0;
}

/* Navigation */

.navbar {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  background: var(--floral-white) !important;
}

.navbar .nav-link,
.navbar .navbar-brand {
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  line-height: 1;
  font-size: 0.875rem;
}

.navbar .nav-link {
  color: var(--graphite) !important;
  text-transform: lowercase !important;
}
.navbar .nav-link:hover {
  color: var(--palm-leaf) !important;
  transition: ease-in-out 0.3s;
}

/* Hero Section */

#hero {
  background-color: var(--floral-white);
  background-image: url(../images/hero1.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.9;
}

#hero h2 {
  margin-bottom: 20px;
  color: var(--floral-white);
}

#hero p {
  margin-bottom: 30px;
  color: var(--floral-white);
}

#hero-overlay {
  padding: 20px;
  border-radius: 3px;
  border: 2px solid var(--floral-white);
}

/* Cards */

.card {
  background-color: var(--floral-white);
  border: 1px solid var(--graphite);
  border-radius: 3px;
  padding: 5px;
  margin: 5px;
  box-shadow: 0 4px 8px rgba(132, 183, 135, 0.324);
  min-height: 500px;
}

/* Buttons */

.btn-custom-primary {
  background-color: none;
  color: var(--floral-white);
  border: 2px solid var(--floral-white);
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
}

.btn-custom-primary:hover {
  background-color: var(--palm-leaf);
  color: var(--floral-white);
  transition: ease-in-out 0.3s;
}

.btn-custom-secondary {
  background-color: none;
  color: var(--floral-white);
  border: 2px solid var(--floral-white);
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
}

.btn-custom-secondary:hover {
  background-color: var(--floral-white);
  color: var(--palm-leaf);
  transition: ease-in-out 0.3s;
}

.btn-custom-project {
  background-color: none;
  color: var(--palm-leaf);
  border: 2px solid var(--palm-leaf);
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
}

.btn-custom-project:hover {
  background-color: var(--palm-leaf);
  color: var(--floral-white);
  transition: ease-in-out 0.3s;
}

.btn-custom-live-link {
  background-color: none;
  color: var(--palm-leaf);
  border: 2px solid var(--palm-leaf);
  padding: 10px 20px;
  border-radius: 3px;
  text-decoration: none;
}

.btn-custom-live-link:hover {
  background-color: var(--palm-leaf);
  color: var(--floral-white);
  transition: ease-in-out 0.3s;
}

/* Sections */

section {
  padding: 1rem 0;
}

section h2 {
  margin-bottom: 1rem;
}

/* Section dividers */

.heading-divider {
  align-items: center;
  display: flex;
  gap: 1rem;
  width: 100%;
}

.heading-divider::before,
.heading-divider::after {
  content: "";
  display: block;
  height: 2px;
  background-color: var(--palm-leaf);
  flex: 1;
}

.heading-divider::first-line {
  display: block;
  flex: 1;
  text-align: center;
}

#featured-projects {
}
